<a href="https://colab.research.google.com/github/Shamil-Isayev/WSB_university/blob/main/ML_%26_DL_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-------------------
#Introduction Python
-------------------
#Machine Learning and Deep Learning DG Informatyka
-------------------
#Students: 

***Mirzagha Aliyev 48139***

***Shamil Isayev 46025***

***Nijat Hajiyev 46771***


-------------------
#Professor: ***Anna Wójcicka***
-------------------

#Excercise 1 - database Iris

In [ ]:
# IMPORT THE PANDAS AND NUMPY LIBRARIES
import pandas as pd
import numpy as np

# IMPORT THE IRIS DATA FROM THE
# SKLEARN MODULE
from sklearn.datasets import load_iris

# LOAD THE IRIS DATASET BY CALLING
# THE FUNCTION
iris_data = load_iris()
irisRaw = load_iris()

# PLACE THE IRIS DATA IN A PANDAS
# DATAFRAME
df = pd.DataFrame(data = np.c_[irisRaw['data'], irisRaw['target']],
                  columns= irisRaw['feature_names'] + ['target'])

# DISPLAY FIRST 5 RECORDS OF THE
# DATAFRAME
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

#1. Please view the data and refer to the specific information.

In [ ]:
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
..      ...
145     2.0
146     2.0
147     2.0
148     2.0
149     2.0

[150 rows x 5 columns]

In [ ]:
print(df.iloc[:5])

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0

In [ ]:
print(df['target'])

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: target, Length: 150, dtype: float64

# 2. Display the number of rows and columns.

In [ ]:
print(df.shape)

(150, 5)

#3. View basic information for individual columns. Use the 'describe' and 'groupby' methods

In [ ]:
print(df.describe())  #describe methods

       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)      target
count        150.000000  150.000000
mean           1.199333    1.000000
std            0.762238    0.819232
min            0.100000    0.000000
25%            0.300000    0.000000
50%            1.300000    1.000000
75%            1.800000    2.000000
max            2.500000    2.000000

In [ ]:
print(df.groupby('target').mean()) #groupby

        sepal length (cm)  sepal width (cm)  petal length (cm)  \
target
0.0                 5.006             3.428              1.462
1.0                 5.936             2.770              4.260
2.0                 6.588             2.974              5.552

        petal width (cm)
target
0.0                0.246
1.0                1.326
2.0                2.026

#4. Using the 'head' method please display the first 5 rows

In [ ]:
print(df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0

#5. Using “dropna” check if the database contains missing data

In [ ]:
# Check if dataframe contains missing data
if df.dropna().empty:
    print("The dataframe does not contain any missing data.")
else:
    print("The dataframe contains missing data.")

The dataframe contains missing data.

#6. Sorting the dataset according to specific criteria is another important part of the pandas package. In order to sort by rows or columns, use the sort_values method, which returns a new, sorted object.

In [ ]:
# Sort the dataframe by sepal length (ascending order)
sorted_df = df.sort_values(by='sepal length (cm)')

# Display the sorted dataframe
print(sorted_df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
13                 4.3               3.0                1.1               0.1
42                 4.4               3.2                1.3               0.2
38                 4.4               3.0                1.3               0.2
8                  4.4               2.9                1.4               0.2
41                 4.5               2.3                1.3               0.3
..                 ...               ...                ...               ...
122                7.7               2.8                6.7               2.0
118                7.7               2.6                6.9               2.3
117                7.7               3.8                6.7               2.2
135                7.7               3.0                6.1               2.3
131                7.9               3.8                6.4               2.0

     target
13      0.0
42      0.0
38      0.0
8       0.0
41      0.0
..      ...
122     2.0
118     2.0
117     2.0
135     2.0
131     2.0

[150 rows x 5 columns]

# 7. Sort the data in ascending order relative to the second column. (Sorting by index Panda- sort_index())

In [ ]:
# Sort the dataframe by the second column in ascending order
sorted_df = df.sort_values(by=df.columns[1])

# Display the sorted dataframe
print(sorted_df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
60                 5.0               2.0                3.5               1.0
62                 6.0               2.2                4.0               1.0
119                6.0               2.2                5.0               1.5
68                 6.2               2.2                4.5               1.5
41                 4.5               2.3                1.3               0.3
..                 ...               ...                ...               ...
16                 5.4               3.9                1.3               0.4
14                 5.8               4.0                1.2               0.2
32                 5.2               4.1                1.5               0.1
33                 5.5               4.2                1.4               0.2
15                 5.7               4.4                1.5               0.4

     target
60      1.0
62      1.0
119     2.0
68      1.0
41      0.0
..      ...
16      0.0
14      0.0
32      0.0
33      0.0
15      0.0

[150 rows x 5 columns]

In [ ]:
# Sort the dataframe by index in ascending order
sorted_df = df.sort_index()

# Display the sorted dataframe
print(sorted_df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
..      ...
145     2.0
146     2.0
147     2.0
148     2.0
149     2.0

[150 rows x 5 columns]

# 8. Find the minimum and maximum petal length (column 3 - petal length). Give the index of each of these values.

In [ ]:
# Find the minimum and maximum petal length and their index values
min_petal_length = df['petal length (cm)'].min()
max_petal_length = df['petal length (cm)'].max()
min_petal_length_index = df['petal length (cm)'].idxmin()
max_petal_length_index = df['petal length (cm)'].idxmax()

# Print the results
print("Minimum petal length is {} at index {}".format(min_petal_length, min_petal_length_index))
print("Maximum petal length is {} at index {}".format(max_petal_length, max_petal_length_index))

Minimum petal length is 1.0 at index 22
Maximum petal length is 6.9 at index 118

# 9. Calculate the standard deviation for each column

In [ ]:
# Calculate the standard deviation for each column
std_devs = df.std()

# Print the results
print(std_devs)

sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
target               0.819232
dtype: float64

In [ ]:
# Calculate the standard deviation for each column and format the results
std_devs = df.std().to_frame().transpose()
std_devs.index = ['std_devs']

# Print the results
print(std_devs)

          sepal length (cm)  sepal width (cm)  petal length (cm)  \
std_devs           0.828066          0.435866           1.765298

          petal width (cm)    target
std_devs          0.762238  0.819232

# 10. Identify rows for which the length of the flower cup (sepal length) is greater than the average length (the whole set)

In [ ]:
# Calculate the average sepal length
avg_sepal_length = df['sepal length (cm)'].mean()

# Filter the dataframe to keep only the rows where the sepal length is greater than the average sepal length
long_sepal_df = df[df['sepal length (cm)'] > avg_sepal_length]

# Print the resulting dataframe
print(long_sepal_df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
50                 7.0               3.2                4.7               1.4
51                 6.4               3.2                4.5               1.5
52                 6.9               3.1                4.9               1.5
54                 6.5               2.8                4.6               1.5
56                 6.3               3.3                4.7               1.6
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
50      1.0
51      1.0
52      1.0
54      1.0
56      1.0
..      ...
145     2.0
146     2.0
147     2.0
148     2.0
149     2.0

[70 rows x 5 columns]